.header {
  padding-top: 57px;
  padding-bottom: 76px;
  background-image: url(./../img/bg-header.jpg);
  background-position: center;
  background-size: cover;
}

.header-nav {
  margin-bottom: 93px;
}
