.swiper {
  margin-right: 0 !important;

  max-width: 512px;
}

.swiper-wrapper {
  width: 100%;
  padding-top: 110px;
}

.swiper-slide {
  padding: 382px 72px 84px;
  border-radius: 77px;
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 2px;
  bottom: 25px !important;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  border-radius: 46px !important;
  width: 21px !important;
  height: 6px !important;
  background: #fff !important;
}

.slide-text__img {
  position: absolute;
  top: -150px;
  left: 50px;
}

.slide-text {
  color: rgba(255, 255, 255, 0.75);
  p {
    font-size: 23px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 38px;
    margin-bottom: 20px;
  }
}

.swiper-arrow {
  z-index: 10;
  width: 100%;
  justify-content: space-between;
  display: flex;
  position: absolute;
  top: 50%;
}
